body{
    background-color: darkgrey;
}

button{
    border-radius: 15px;
    width: 100px;
    height: 80px;
    background-color: rgb(79, 79, 79);
    color: white;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}

#calculator{
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 17);
    margin: auto;
    border-radius: 20px;
    max-width: 525px;
    overflow: hidden;
    gap: 20px;
}

#calc-btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px;
    margin: 20px 10px;
    border: none;
    justify-items: center;
}
#display{
    text-align: right;
    font-size: 5rem;
    color: rgb(65, 64, 64);
    margin: 10px;
    border-radius: 20px;
    height: 100px;
    cursor: default;
}

button:hover{
    background-color: hsl(0, 0%, 35%);
}

button:active{
        background-color: hsl(0, 0%, 50%);
}

.opr-btn{
    background-color: hsl(45, 100%, 50%);
}

.opr-btn:hover {
    background-color: hsl(45, 100%, 60%);
}
.opr-btn:active {
    background-color: hsl(45, 100%, 75%);
}

.result{
    background-color: hsl(125, 93%, 40%);
}

.result:hover {
    background-color: hsl(125, 93%, 45%);
}

.result:active {
    background-color: hsl(125, 93%, 60%);
}